header {
  background-color: #3d3c38;
  padding: 10px 20px;
  height: 7vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userinfo-div {
  height: 6vh;
  width: 15vh;
  min-height: 52px;
  min-width: 128px;
  align-items: center;
  justify-content: center;
  background-color: #4f576c;
  display: flex;
  font-weight: bold;
  border-radius: 10px;
}
