.contentdiv {
  background-color: #4f576c;
  border-radius: 10px;
  border: solid black;
  align-items: center;
  height: 45vh;
  width: 78vw;
  margin-left: auto;
  margin-right: auto;
  grid-area: contacts;
}

.contentdiv_header {
  background-color: #c2c4c3;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: black;
  margin-bottom: 0.5vh;
}

.formelement {
  margin-left: 20px;
  margin-bottom: 5px;
}

.formelement input {
  width: 40vw;
}

.wrapper {
  margin-bottom: 10px;
}

.employeedetails_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.employeedetails_wrapper_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  gap: 10vw;
}
