.datasetdisplay-div {
  display: flex;
  height: 50%;
  width: 70%;
  background-color: #4f576c;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
